.body {
    margin:0;
    padding: 0;
}

.center-text h1{
    font-size: 44px;
    text-align: center;
}

.center-text p {
    font-size: 22px;
    text-align: center;
    color: gray;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 150px;
    margin: auto;
    background-color: #f8f8f8;
    border: 2px dashed lightgrey;
}

.upload-btn{
    width: 130px;
    height: 40px;
    border: none;
    background-color: #4b88fd;
    color:#fff;
    font-size: 16px;
    border-radius: 7px;
}

button:hover{
    transform: translateY(-0.25em);
    cursor: pointer;
}

/* Show uploaded files */


.list-center-text {
    text-align: center;
    color:  #f8f8f8; 
    background-color: #444444;
    margin-top: 50px;
}

.list-center-text h2 {
    padding: 5px;
    font-size: 25px;
    margin-bottom: 5px;
}

.no-file {
    margin-top: 40px;
    font-size: 22px;
    color: steelblue;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 12px;
}

th {
    background-color: #eee;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
}

.view-link {
    padding: 10px;
    text-decoration: none;
    color: #0000f1;
}
.delete-link {
    padding: 10px;
    font-size: 18px;
    color: #f00;
}



